spring:
  application:
    name: financemanager
  # DB
  datasource:
    url: jdbc:mariadb://localhost:3306/financemanager
    username: root
    password: -secret-pw-
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate.ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true
    open-in-view: false

  # flyway
  flyway:
    locations: classpath:db/migration

  # modulith
  modulith:
    events:
      externalization:
        enabled: true

  # kafka
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  level:
    root: INFO
    de.homebrewed.financemanager: DEBUG
